<div class="breadcrumb-holder container-fluid">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a ui-sref="home.home">{{'HOME'| translate}}</a>
		</li>
		<li class="breadcrumb-item">
			<a ui-sref="home.supplier">{{'SUPPLIERS' | translate}}</a>
		</li>
		<li class="breadcrumb-item active">{{'ADDSUPPLIER' | translate}}</li>
	</ul>
</div>

<section class="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card animated fadeInUp">

					<div class="card-header d-flex align-items-center">
						<h3 class="h3">{{'ADDSUPPLIER' | translate}}</h3>
					</div>
					<div class="card-body">
						<p>{{'FILLSUPPLIERINFO' | translate}}</p>
						<form class="form-horizontal" id="addSupplierForm" name="addSupplierForm">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'COMPANYNAME' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyName" name="supplierCompanyName" ng-model="compName" type="text" placeholder="{{'COMPANYNAME' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyName.$invalid && addSupplierForm.supplierCompanyName.$touched">{{'COMPANYNAMEERR' | translate}}</small>
										</div>

									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'EMAIL' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyEmail" name="supplierCompanyEmail" ng-model="compEmail" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="{{'EMAIL' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyEmail.$invalid && addSupplierForm.supplierCompanyEmail.$touched">{{'COMPANYEMAILERR' | translate}}</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'PHONENUMBER' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyPhoneNum" name="supplierCompanyPhoneNum" ng-model="compNum" type="telephone" pattern="\d*" maxlength="10"
											 placeholder="{{'PHONENUMBER' | translate}}" class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyPhoneNum.$invalid && addSupplierForm.supplierCompanyPhoneNum.$touched">{{'COMPANYPHONENUMERR' | translate}}</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'COMPANYADDRESS' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyAddress" name="supplierCompanyAddress" ng-model="compAdd" type="text" placeholder="{{'COMPANYADDRESS' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyAddress.$invalid && addSupplierForm.supplierCompanyAddress.$touched">{{'COMPANYADDRESSERR' | translate}}</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'CITY' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyCity" name="supplierCompanyCity" ng-model="compCity" type="text" placeholder="{{'CITY' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyCity.$invalid && addSupplierForm.supplierCompanyCity.$touched">{{'COMPANYCITYERR' | translate}}</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'COUNTRY' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierCompanyCountry" name="supplierCompanyCountry" ng-model="compCountry" type="text" placeholder="{{'COUNTRY' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierCompanyCountry.$invalid && addSupplierForm.supplierCompanyCountry.$touched">{{'COMPANYCOUNTRYERR' | translate}}</small>
										</div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'CONTACTNAME' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierContactName" name="supplierContactName" ng-model="contName" type="text" placeholder="{{'CONTACTNAME' | translate}}"
											 class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierContactName.$invalid && addSupplierForm.supplierContactName.$touched">{{'CONTACTNAMEERR' | translate}}</small>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'CONTACTPHONENUMBER' | translate}}</label>
										<div class="col-sm-9">
											<input id="supplierContactPhoneNum" name="supplierContactPhoneNum" ng-model="contNum" type="telephone" pattern="\d*" maxlength="10"
											 placeholder="{{'CONTACTPHONENUMBER' | translate}}" class="form-control form-control-success" ng-required="true">
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierContactPhoneNum.$invalid && addSupplierForm.supplierContactPhoneNum.$touched">{{'CONTACTPHONENUMERR' | translate}}</small>

										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 form-control-label required">{{'SUPPLIERNOTES' | translate}}</label>
										<div class="col-sm-9 select">
											<textarea id="supplierNotes" name="supplierNotes" ng-model="notes" class="form-control" style="width:100%;" placeholder="{{'SUPPLIERNOTES' | translate}}"  ng-required="true"></textarea>
											<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.supplierNotes.$invalid && addSupplierForm.supplierNotes.$touched">{{'SUPPLIERNOTESERR' | translate}}</small>
										</div>
									</div>

								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-12 centerize nowrap">
									<a ui-sref="home.supplier">
										<input type="button" value="{{'RETURN' | translate}}" class="btn btn-primary btn-custom">
									</a>
									<input type="button" value="{{'ADDSUPPLIER' | translate}}" class="btn btn-success btn-custom" id="btn-addsupp" ng-click="addSupplier()"
									 ng-disabled="addSupplierForm.$invalid">
									<input type="reset" value="{{'CLEARFIELDS' | translate}}" class="btn btn-danger btn-custom">
								</div>
								<div class="col-sm-12 centerize">
									<small class="invalidmsg animated fadeIn" ng-show="addSupplierForm.$invalid ">{{'ADDSUPPLIERFORMERR' | translate}}</small>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>