<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home.home">{{'HOME' | translate}}</a>
        </li>
        <li class="breadcrumb-item">
            <a ui-sref="home.room">{{'ROOMS' | translate}}</a>
        </li>
        <li class="breadcrumb-item active">{{'ADDROOM' | translate}}</li>
    </ul>
</div>

<section class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card animated fadeInUp">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h3">{{'ADDROOM' | translate}}</h3>
                    </div>
                    <div class="card-body">

                        <p>{{'FILLROOMINFO' | translate}}</p>
                        <form class="form-horizontal" name="addRoomForm">
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMNUM' | translate}}</label>
                                        <div class="col-sm-9">
                                            <input id="roomNum" name="roomNum" ng-model="roomNum" ng-required="true" type="number" placeholder="{{'ROOMNUM' | translate}}"
                                                class="form-control form-control-success">
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomNum.$invalid && addRoomForm.roomNum.$touched">{{'ROOMNUMERR' | translate}}</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMTYPE' | translate}}</label>
                                        <div class="col-sm-9 select">
                                            <select id="roomType" name="roomType" ng-model="roomTypeName" ng-required="true" class="form-control" ng-options="type.ROOMTYPENAME for type in types">
                                                <option value="" disabled selected>{{'SELECTOPTION' | translate}}</option>
                                            </select>
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomType.$invalid && addRoomForm.roomType.$touched">{{'ROOMTYPEERR' | translate}}</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMLOCATION' | translate}}</label>
                                        <div class="col-sm-9 select">
                                            <select id="roomLocation" ng-model="roomLocation" ng-options="location for location in locationList" name="roomLocation"
                                                ng-required="true" class="form-control">
                                                <option value="" disabled selected>{{'SELECTOPTION' | translate}}</option>
                                            </select>
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomLocation.$invalid && addRoomForm.roomLocation.$touched">{{'ROOMLOCATIONERR' | translate}}</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMPRICE' | translate}}</label>
                                        <div class="col-sm-9 select">
                                            <input id="roomPrice" name="roomPrice" ng-model="roomPrice" ng-required="true" type="number" placeholder="{{'ROOMPRICE' | translate}}"
                                                class="form-control form-control-success">
                                            <span class="unit unselectable">₪/night</span>
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomPrice.$invalid && addRoomForm.roomPrice.$touched">{{'ROOMPRICEERR' | translate}}</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMSTATUS' | translate}}</label>
                                        <div class="col-sm-9">
                                            <input id="roomStatus" name="roomStatus"  ng-required="true" value="{{'AVAILABLE' | translate}}" disabled
                                                class="form-control form-control-success">
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomStatus.$invalid && addRoomForm.roomStatus.$touched">{{'roomStatusERR' | translate}}</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMDESC' | translate}}</label>
                                        <div class="col-sm-9 select">
                                            <textarea id="roomDesc" name="roomDesc" ng-model="roomDescription" class="form-control" style="width:100%;" placeholder="{{'ROOMDESC' | translate}}"
                                                ng-required="true"></textarea>
                                            <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.roomDesc.$invalid && addRoomForm.roomDesc.$touched">{{'ROOMDESCERR' | translate}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label required">{{'ROOMDETAILS' | translate}}</label>
                                        <div class="col-sm-9">
                                            <div class="i-checks">
                                                <input id="checkboxSmoking" ng-model="smokingStatus" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxSmoking">{{'SMOKINGALLOWED' | translate}}</label>
                                            </div>
                                            <div class="i-checks">
                                                <input id="checkboxBalcony" ng-model="hasBalcony" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxBalcony">{{'HASBALCONY' | translate}}</label>
                                            </div>
                                            <div class="i-checks">
                                                <input id="checkboxInternet" ng-model="hasInternet" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxInternet">{{'HASINTERNET' | translate}}</label>
                                            </div>
                                            <div class="i-checks">
                                                <input id="checkboxSafe" ng-model="hasSafe" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxSafe">{{'HASSAFE' | translate}}</label>
                                            </div>
                                            <div class="i-checks">
                                                <input id="checkboxMinibar" ng-model="hasMiniBar" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxMinibar">{{'HASMINIBAR' | translate}}</label>
                                            </div>
                                            <div class="i-checks">
                                                <input id="checkboxBathtub" ng-model="hasBathTub" type="checkbox" value="" class="checkbox-template">
                                                <label for="checkboxBathtub">{{'HASBATHTUB' | translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-12 centerize nowrap">
                                    <a ui-sref="home.room">
                                        <input type="button" value="{{'RETURN' | translate}}" class="btn btn-primary btn-custom">
                                    </a>
                                    <input type="button" ng-click="addRoom()"id="btn-addroom" value="{{'ADDROOM' | translate}}" class="btn btn-success btn-custom" ng-disabled="addRoomForm.$invalid">
                                    <input type="reset" value="{{'CLEARFIELDS' | translate}}" class="btn btn-danger btn-custom">
                                </div>
                                <div class="col-sm-12 centerize">
                                    <small class="invalidmsg animated fadeIn" ng-show="addRoomForm.$invalid ">{{'addRoomFormERR' | translate}}</small>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>